<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yu-1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{51,24}</string>
                <key>textureRect</key>
                <string>{{409,356},{51,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yu-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{51,24}</string>
                <key>textureRect</key>
                <string>{{616,361},{51,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{71,43}</string>
                <key>textureRect</key>
                <string>{{616,215},{71,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{71,43}</string>
                <key>textureRect</key>
                <string>{{616,288},{71,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{347,294},{74,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{409,294},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yu-4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,63}</string>
                <key>spriteSourceSize</key>
                <string>{114,63}</string>
                <key>textureRect</key>
                <string>{{192,392},{114,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,63}</string>
                <key>spriteSourceSize</key>
                <string>{114,63}</string>
                <key>textureRect</key>
                <string>{{257,392},{114,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-5-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,111}</string>
                <key>spriteSourceSize</key>
                <string>{165,111}</string>
                <key>textureRect</key>
                <string>{{322,392},{165,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yu-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,111}</string>
                <key>spriteSourceSize</key>
                <string>{165,111}</string>
                <key>textureRect</key>
                <string>{{489,1},{165,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yu-6-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,99}</string>
                <key>spriteSourceSize</key>
                <string>{189,99}</string>
                <key>textureRect</key>
                <string>{{1,399},{189,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yu-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,99}</string>
                <key>spriteSourceSize</key>
                <string>{189,99}</string>
                <key>textureRect</key>
                <string>{{474,114},{189,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yu-7-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{289,125}</string>
                <key>spriteSourceSize</key>
                <string>{291,125}</string>
                <key>textureRect</key>
                <string>{{489,215},{289,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,125}</string>
                <key>spriteSourceSize</key>
                <string>{291,125}</string>
                <key>textureRect</key>
                <string>{{347,1},{291,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-8-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,171}</string>
                <key>spriteSourceSize</key>
                <string>{389,171}</string>
                <key>textureRect</key>
                <string>{{174,1},{389,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yu-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,171}</string>
                <key>spriteSourceSize</key>
                <string>{396,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{396,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishs.png</string>
            <key>size</key>
            <string>{664,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf31a233b68fa64fbfde0b916a62696c:28d7f11d9c4d1b662350fc86a9c20569:f7314bb2da31cb6613ad6e17996506a7$</string>
            <key>textureFileName</key>
            <string>fishs.png</string>
        </dict>
    </dict>
</plist>
